.back {
    position: fixed;
    inset: 0px;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0.15turn, #4a06a3, #880707);
}
